/* Ensure the grid is aligned to the top */
.ui.grid {
    align-items: flex-start;
  }
  
  /* Style for the login/signup button to match the exercise page button */
  .btn {
    background-color: #102937;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #091d26;
  }
  
  /* Autofill styles */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #000 !important;
  }
  