#exercise {
  padding: 20px;
  background-color: #e1d9cf; /* Light background for contrast */
}

.words {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #102937; /* Primary text color */
}

.exercise-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* Background color for form container */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  max-width: 500px;
  margin: 0 auto 20px;
}

.exercise-form label {
  margin-bottom: 10px;
  width: 100%;
}

.exercise-form input {
  margin-left: 10px;
  padding: 5px;
  width: calc(100% - 22px);
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.exercise-form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #102937;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.exercise-form button:hover {
  background-color: #091d26;
}

.daily-exercises {
  padding: 20px;
  background-color: #fff; /* Background color for each exercise entry */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  max-width: 500px;
  margin: 0 auto 20px; /* Add margin-bottom to create space between exercises and footer */
}

.daily-exercises h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #102937; /* Primary text color */
  text-align: center;
}

.daily-exercises ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.daily-exercises li {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff; /* Background color for each exercise entry */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.daily-exercises li div {
  margin-bottom: 10px;
  color: #102937; /* Primary text color */
}

.daily-exercises li div:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .daily-exercises {
    padding-bottom: 50px; /* Add padding to the bottom on larger screens */
  }
}
