.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #102937;
    padding: 3px 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-sizing: border-box;
  }
  
  .footer-link {
    color: rgb(237, 238, 240);
    text-decoration: none;
    padding: 8px 5px;
    text-align: center;
    font-size: 14px;
    flex: 1;
    box-sizing: border-box;
  }
  
  .footer-link:hover {
    background-color: #f9744b;
  }
  
  .footer-link-center {
    background-color: #d84f2a;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 5px;
    padding: 8px 5px;
  }
  
  .footer-link-center:hover {
    background-color: #d84f2a;
  }
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    #root {
      padding: 1rem;
      padding-bottom: 50px; /* Ensure footer space */
    }
  
    .logo {
      height: 4em;
      padding: 1em;
    }
  
    .card {
      padding: 1em;
    }
  
    .footer {
      padding: 2px 0; /* Further reduce padding for mobile */
    }
  
    .footer-link {
      font-size: 12px; /* Reduce font size for mobile */
      padding: 5px 2px; /* Adjust padding for smaller screens */
    }
    
    .footer-link-center {
      padding: 5px 2px;
    }
  }
  