/* OverviewPage styles */
.overview-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.calories-left {
  width: 100%;
  max-width: 600px;
  margin-bottom: 2rem; /* Increased bottom margin for better spacing */
}

.doughnut-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.calories-left-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
}

.calories-summary {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
  margin-bottom: 2rem; /* Increased bottom margin for better spacing */
  text-align: center; /* Center text within the container */
}

.calories-summary div {
  flex: 1; /* Ensure equal space for each div */
  padding: 0 1rem; /* Add padding for better spacing */
}

.macros-table {
  width: 100%;
  max-width: 600px;
  padding: 1rem; /* Added padding for better spacing */
  box-sizing: border-box;
}

.macros-table table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

.macros-table th, .macros-table td {
  border: 1px solid #ddd;
  padding: 16px; /* Increased padding for better spacing */
}

.macros-table th {
  background-color: #102937;
  color: #f9744b;
}

@media (max-width: 600px) {
  .overview-page {
    padding: 1rem;
  }

  .calories-summary {
    flex-direction: column;
    align-items: center;
  }

  .macros-table table {
    font-size: 14px;
  }
}

.calories {
  color: #102937;
}

h2, h3 {
  color: #102937;
}

/* Desktop view adjustments */
@media (min-width: 768px) {
  .overview-page {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
  }

  .calories-left,
  .calories-summary,
  .macros-table {
    width: 30%;
  }

  .calories-left,
  .macros-table {
    margin-bottom: 0;
  }

  .calories-summary {
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
  }

  .calories-summary div {
    width: 100%;
    margin-bottom: 1rem;
  }

  .doughnut-container {
    max-width: 100%;
  }
}
